.container {
  position: relative;
  height: 1.5rem;
  width: 3rem;
  min-height: 1.5rem;
  min-width: 3rem;
}
.container .input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
}
.slider {
  opacity: 0.5;
  position: absolute;
  height: 1rem;
  width: 3rem;
  top: 0.25rem;
  left: 0;
  border-radius: 0.5rem;
  background: var(--neutral-color);
  transition: background-color 0.5s ease;
}
.knob {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.75rem;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--neutral-color);
  transition: background-color 0.2s ease, transform 0.1s ease-out;
}
.checked .knob {
  transform: translateX(1.5rem);
}

.colorNeutral.checked .slider,
.colorNeutral.checked .knob {
  background: var(--neutral-color);
}
.colorDefault.checked .slider,
.colorDefault.checked .knob {
  background: var(--default-color);
}
.colorPrimary.checked .slider,
.colorPrimary.checked .knob {
  background: var(--primary-color);
}
.colorSecondary.checked .slider,
.colorSecondary.checked .knob {
  background: var(--secondary-color);
}
