.block {
  display: block;
}
.inlineBlock {
  display: inline-block;
}
.inline {
  display: inline;
}
@media screen {
  .flexbox {
    display: flex;
  }
  .inlineFlex {
    display: inline-flex;
  }
  .grid {
    display: grid;
  }
}
.none {
  display: none;
}
.tableCell {
  display: table-cell;
}

/* Extra Small (xs) 512px */
@media (min-width: 32rem) {
  .xsBlock {
    display: block;
  }
  .xsInlineBlock {
    display: inline-block;
  }
  .xsInline {
    display: inline;
  }
  .xsNone {
    display: none;
  }
  .xsTableCell {
    display: table-cell;
  }
}
@media screen and (min-width: 32rem) {
  .xsFlex {
    display: flex;
  }
  .xsInlineFlex {
    display: inline-flex;
  }
  .xsGrid {
    display: grid;
  }
}
/* Small (sm) 640px */
@media (min-width: 40rem) {
  .smBlock {
    display: block;
  }
  .smInlineBlock {
    display: inline-block;
  }
  .smInline {
    display: inline;
  }
  .smNone {
    display: none;
  }
  .smTableCell {
    display: table-cell;
  }
}
@media screen and (min-width: 40rem) {
  .smFlex {
    display: flex;
  }
  .smInlineFlex {
    display: inline-flex;
  }
  .smGrid {
    display: grid;
  }
}
/* Medium (md) 768px */
@media (min-width: 48rem) {
  .mdBlock {
    display: block;
  }
  .mdInlineBlock {
    display: inline-block;
  }
  .mdInline {
    display: inline;
  }
  .mdNone {
    display: none;
  }
  .mdTableCell {
    display: table-cell;
  }
}
@media screen and (min-width: 48rem) {
  .mdFlex {
    display: flex;
  }
  .mdInlineFlex {
    display: inline-flex;
  }
  .mdGrid {
    display: grid;
  }
}
/* Large (lg) 1024px */
@media (min-width: 64rem) {
  .lgBlock {
    display: block;
  }
  .lgInlineBlock {
    display: inline-block;
  }
  .lgInline {
    display: inline;
  }
  .lgNone {
    display: none;
  }
  .lgTableCell {
    display: table-cell;
  }
}
@media screen and (min-width: 64rem) {
  .lgFlex {
    display: flex;
  }
  .lgInlineFlex {
    display: inline-flex;
  }
  .lgGrid {
    display: grid;
  }
}
/* Extra Large (xl) 1280px */
@media (min-width: 80rem) {
  .xlBlock {
    display: block;
  }
  .xlInlineBlock {
    display: inline-block;
  }
  .xlInline {
    display: inline;
  }
  .xlNone {
    display: none;
  }
  .xlTableCell {
    display: table-cell;
  }
}
@media screen and (min-width: 80rem) {
  .xlFlex {
    display: flex;
  }
  .xlInlineFlex {
    display: inline-flex;
  }
  .xlGrid {
    display: grid;
  }
}
