:root {
  --background-default: white;
  --paper-background: white;

  --text-primary-color: rgba(0, 0, 0, 0.87);
  --text-secondary-color: rgba(0, 0, 0, 0.54);

  --disabled-color: rgba(0, 0, 0, 0.54);

  --neutral-color: #e0e0e0;
  --neutral-on-background-color: rgba(0, 0, 0, 0.87);
  --neutral-hover-color-text: rgba(0, 0, 0, 0.08);
  --neutral-hover-color-filled: rgba(0, 0, 0, 0.08);
  --text-on-neutral-color: rgba(0, 0, 0, 0.87);

  --default-color: #f29137;
  --default-on-background-color: #af5500; /* Windsor Tan */
  --default-hover-color-text: rgba(242, 145, 55, 0.1);
  --default-hover-color-filled: #f27f13;
  --text-on-default-color: rgba(0, 0, 0, 0.87);

  --primary-color: #41bcd8;
  --primary-on-background-color: #00819e; /* CG Blue */
  --primary-hover-color-text: rgba(65, 188, 216, 0.1);
  --primary-hover-color-filled: #0ab2d8;
  --text-on-primary-color: rgba(0, 0, 0, 0.87);

  --secondary-color: #d6312f;
  --secondary-on-background-color: #9b0000; /* USC Cardinal */
  --secondary-hover-color-text: rgba(214, 49, 47, 0.1);
  --secondary-hover-color-filled: #d60300;
  --text-on-secondary-color: white;

  --border-radius: 0.25rem;

  --box-shadow-main-color: rgba(0, 0, 0, 0.2);
  --box-shadow-sharpen-color: rgba(0, 0, 0, 0.14);
  --box-shadow-bottom-accent-color: rgba(0, 0, 0, 0.12);

  --zindex-dropdown: 1000;
  --zindex-sticky: 1020;
  --zindex-fixed: 1030;
  --zindex-modal-backdrop: 1040;
  --zindex-modal: 1050;
  --zindex-popover: 1060;
  --zindex-tooltip: 1070;
}

.container {
  background: var(--background-default);
  min-height: 100vh;
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    'header'
    'sidebar'
    'content'
    'sidebar2'
    'footer';
}
.container.dark {
  --background-default: #303030;
  --paper-background: #212121;

  --text-primary-color: rgba(255, 255, 255, 0.87);
  --text-secondary-color: rgba(255, 255, 255, 0.64);

  --disabled-color: rgba(255, 255, 255, 0.5);

  --neutral-color: #4e4e4e;
  --neutral-on-background-color: rgba(255, 255, 255, 0.87);
  --neutral-hover-color-text: rgba(255, 255, 255, 0.1);
  --neutral-hover-color-filled: rgba(255, 255, 255, 0.08);
  --text-on-neutral-color: white;

  --default-color: #af5500;
  --default-on-background-color: #f29137;
  --default-hover-color-text: rgba(242, 145, 55, 0.1);
  --default-hover-color-filled: #963c00;
  --text-on-default-color: white;

  --primary-color: #00819e;
  --primary-on-background-color: #41bcd8;
  --primary-hover-color-text: rgba(65, 188, 216, 0.1);
  --primary-hover-color-filled: #006885;
  --text-on-primary-color: white;

  --secondary-color: #9b0000;
  --secondary-on-background-color: #d6312f;
  --secondary-hover-color-text: rgba(214, 49, 47, 0.1);
  --secondary-hover-color-filled: #820000;
  --text-on-secondary-color: rgba(255, 255, 255, 0.87);

  --box-shadow-main-color: none;
  --box-shadow-sharpen-color: none;
  --box-shadow-bottom-accent-color: none;
}
.header {
  padding: 0 1rem;
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header form label + label {
  margin-left: 1rem;
}
.header form input {
  margin-left: 0.5rem;
}
.main {
  grid-area: content;
  margin-bottom: 100px;
}

.sidebar {
  grid-area: sidebar;
  padding: 0 1rem;
}
.sidebar nav {
  display: flex;
  flex-direction: column;
}

.sidebar2 {
  grid-area: sidebar2;
}

.footer {
  grid-area: footer;
}

@media only screen and (min-width: 500px) {
  .container {
    grid-template-columns: 20% auto;
    grid-template-areas:
      'header   header'
      'sidebar  content'
      'sidebar2 sidebar2'
      'footer   footer';
  }
}

@media only screen and (min-width: 600px) {
  .container {
    grid-gap: 20px;
    grid-template-columns: 200px auto 100px;
    grid-template-rows: 5rem auto 10rem;
    grid-template-areas:
      'header  header  header'
      'sidebar content sidebar2'
      'footer  footer  footer';
  }
}
