.text {
  margin: 0;
  padding: 0;
}
.colorPrimary {
  color: var(--text-primary-color);
}
.h1 {
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 300;
}
.h2 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 300;
}
.h1.marginBottom,
.h2.marginBottom {
  margin-bottom: 1.5rem;
}
.h3 {
  font-size: 2.5rem;
  line-height: 3.5rem;
  font-weight: 300;
}
.h4 {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 300;
}
.h3.marginBottom,
.h4.marginBottom {
  margin-bottom: 1rem;
}
.h5 {
  font-size: 1.75rem;
  line-height: 2.5rem;
  font-weight: 300;
}
.h6 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 300;
}
.p.lead {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 300;
}
.p.small {
  font-size: 0.75rem;
}
.p {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
}
.h5.marginBottom,
.h6.marginBottom,
.p.marginBottom {
  margin-bottom: 0.5rem;
}
