.none {
  padding: 0;
}
.sm {
  padding: var(--space-sm);
}
.md {
  padding: var(--space-md);
}
.lg {
  padding: var(--space-lg);
}
.xl {
  padding: var(--space-xl);
}

.xSm {
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);
}
.xMd {
  padding-left: var(--space-md);
  padding-right: var(--space-md);
}
.xLg {
  padding-left: var(--space-lg);
  padding-right: var(--space-lg);
}
.xXl {
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
}

.ySm {
  padding-top: var(--space-sm);
  padding-bottom: var(--space-sm);
}
.yMd {
  padding-top: var(--space-md);
  padding-bottom: var(--space-md);
}
.yLg {
  padding-top: var(--space-lg);
  padding-bottom: var(--space-lg);
}
.yXl {
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
}

.tSm {
  padding-top: var(--space-sm);
}
.tMd {
  padding-top: var(--space-md);
}
.tLg {
  padding-top: var(--space-lg);
}
.tXl {
  padding-top: var(--space-xl);
}

.bSm {
  padding-bottom: var(--space-sm);
}
.bMd {
  padding-bottom: var(--space-md);
}
.bLg {
  padding-bottom: var(--space-lg);
}
.bXl {
  padding-bottom: var(--space-xl);
}

.lSm {
  padding-left: var(--space-sm);
}
.lMd {
  padding-left: var(--space-md);
}
.lLg {
  padding-left: var(--space-lg);
}
.lXl {
  padding-left: var(--space-xl);
}

.rSm {
  padding-right: var(--space-sm);
}
.rMd {
  padding-right: var(--space-md);
}
.rLg {
  padding-right: var(--space-lg);
}
.rXl {
  padding-right: var(--space-xl);
}

@media print {
  .printNone {
    padding: 0;
  }
  .printSm {
    padding: var(--space-sm);
  }
  .printMd {
    padding: var(--space-md);
  }
  .printLg {
    padding: var(--space-lg);
  }
  .printXl {
    padding: var(--space-xl);
  }
}
