.dl {
  margin: 0;
  padding: 0;
}
.grid {
  display: grid;
}
.oneOne {
  grid-template-columns: 1fr 1fr;
}
.oneTwo {
  grid-template-columns: 1fr 2fr;
}
.oneThree {
  grid-template-columns: 1fr 3fr;
}
.oneFour {
  grid-template-columns: 1fr 4fr;
}
.twoOne {
  grid-template-columns: 2fr 1fr;
}
.threeOne {
  grid-template-columns: 3fr 1fr;
}
.fourOne {
  grid-template-columns: 4fr 1fr;
}
.semi .dt::after {
  content: ':';
}
.numericData .dd,
.numeric {
  font-variant-numeric: tabular-nums;
}

.dt {
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.dd {
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.centered .dt {
  text-align: right;
  padding-right: var(--space-md);
}
.centered .dd {
  text-align: left;
}
