.label {
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
  font-weight: 300;
  color: var(--neutral-on-background-color);
  display: inline-flex;
  flex-direction: row;
  width: fit-content;
}
.label > * + * {
  margin-left: var(--spacer);
}
