.label {
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
  font-weight: 300;
  color: var(--neutral-on-background-color);
  display: inline-flex;
  flex-direction: row;
  width: 100%;
}
.label > * + * {
  margin-left: var(--spacer);
}
.label.col {
  flex-direction: column;
}
.label.col > * + * {
  margin: 0;
}
