.btn {
  --btn-font-size: 1.5rem;
  font-size: var(--btn-font-size);
  background: none;
  border: none;
  border-radius: 50%;
  margin: 0;
  padding: 0.75rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--text-secondary-color);
  transition: transform 0.2s ease-out, background-color 0.2s ease-out;
}
.btn.small {
  --btn-font-size: 1rem;
}
.btn.large {
  --btn-font-size: 2rem;
}
.btn:disabled {
  color: var(--text-disabled-color);
  cursor: not-allowed;
}
.btn:active {
  transform: scale(0.9);
}
.btn:hover:not(:disabled) {
  background: var(--button-default-hover-background);
}
