.button {
  --btn-font-size: var(--line-height-p);
  font-size: var(--btn-font-size);
  background: none;
  border: none;
  border-radius: 50%;
  margin: 0;
  padding: var(--space-sm);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-out, background-color 0.2s ease-out;
  outline-offset: -4px;
}

.button.sizeSmall {
  --btn-font-size: var(--line-height-p-small);
}
.button.sizeLarge {
  --btn-font-size: var(--line-height-h3);
}

.button:active {
  transform: scale(0.9);
}

.colorNeutral {
  color: var(--neutral-on-background-color);
}
.colorNeutral:hover:not(:disabled) {
  background: var(--neutral-hover-color-text);
}
.colorDefault {
  color: var(--default-on-background-color);
}
.colorDefault:hover:not(:disabled) {
  background: var(--default-hover-color-text);
}
.colorPrimary {
  color: var(--primary-on-background-color);
}
.colorPrimary:hover:not(:disabled) {
  background: var(--primary-hover-color-text);
}
.colorSecondary {
  color: var(--secondary-on-background-color);
}
.colorSecondary:hover:not(:disabled) {
  background: var(--secondary-hover-color-text);
}

.button:disabled {
  color: var(--disabled-color);
  cursor: not-allowed;
}
