.negMd {
  margin: calc(-1 * var(--space-md));
}
.negSm {
  margin: calc(-1 * var(--space-sm));
}
.none {
  margin: 0;
}
.sm {
  margin: var(--space-sm);
}
.md {
  margin: var(--space-md);
}
.lg {
  margin: var(--space-lg);
}
.xl {
  margin: var(--space-xl);
}

.xNegMd {
  margin-left: calc(-1 * var(--space-md));
  margin-right: calc(-1 * var(--space-md));
}
.xNegSm {
  margin-left: calc(-1 * var(--space-sm));
  margin-right: calc(-1 * var(--space-sm));
}
.xSm {
  margin-left: var(--space-sm);
  margin-right: var(--space-sm);
}
.xMd {
  margin-left: var(--space-md);
  margin-right: var(--space-md);
}
.xLg {
  margin-left: var(--space-lg);
  margin-right: var(--space-lg);
}
.xXl {
  margin-left: var(--space-xl);
  margin-right: var(--space-xl);
}

.yNegMd {
  margin-top: calc(-1 * var(--space-md));
  margin-bottom: calc(-1 * var(--space-md));
}
.yNegSm {
  margin-top: calc(-1 * var(--space-sm));
  margin-bottom: calc(-1 * var(--space-sm));
}
.ySm {
  margin-top: var(--space-sm);
  margin-bottom: var(--space-sm);
}
.yMd {
  margin-top: var(--space-md);
  margin-bottom: var(--space-md);
}
.yLg {
  margin-top: var(--space-lg);
  margin-bottom: var(--space-lg);
}
.yXl {
  margin-top: var(--space-xl);
  margin-bottom: var(--space-xl);
}

.tNegMd {
  margin-top: calc(-1 * var(--space-md));
}
.tNegSm {
  margin-top: calc(-1 * var(--space-sm));
}
.tSm {
  margin-top: var(--space-sm);
}
.tMd {
  margin-top: var(--space-md);
}
.tLg {
  margin-top: var(--space-lg);
}
.tXl {
  margin-top: var(--space-xl);
}

.bNegMd {
  margin-bottom: calc(-1 * var(--space-md));
}
.bNegSm {
  margin-bottom: calc(-1 * var(--space-sm));
}
.bSm {
  margin-bottom: var(--space-sm);
}
.bMd {
  margin-bottom: var(--space-md);
}
.bLg {
  margin-bottom: var(--space-lg);
}
.bXl {
  margin-bottom: var(--space-xl);
}

.lNegMd {
  margin-left: calc(-1 * var(--space-md));
}
.lNegSm {
  margin-left: calc(-1 * var(--space-sm));
}
.lSm {
  margin-left: var(--space-sm);
}
.lMd {
  margin-left: var(--space-md);
}
.lLg {
  margin-left: var(--space-lg);
}
.lXl {
  margin-left: var(--space-xl);
}

.rNegMd {
  margin-right: calc(-1 * var(--space-md));
}
.rNegSm {
  margin-right: calc(-1 * var(--space-sm));
}
.rSm {
  margin-right: var(--space-sm);
}
.rMd {
  margin-right: var(--space-md);
}
.rLg {
  margin-right: var(--space-lg);
}
.rXl {
  margin-right: var(--space-xl);
}

/* Extra Small (xs) 512px */
@media (min-width: 32rem) {
  .xsNegSmR {
    margin-right: calc(-1 * var(--space-sm));
  }
  .xsNegSmL {
    margin-left: calc(-1 * var(--space-sm));
  }
}
@media print {
  .printNoneT {
    margin-top: 0;
  }
}
