@value baseline from 'ui/assets/values/baseline.css';
@value secondary-black, secondary-black--light from 'ui/assets/values/colors.css';
@value widthBase, widthMax from 'ui/assets/values/constants.css';

.dialog {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: hsla(211, 55%, 18%, 0.9);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  transform: translateZ(0);
}
.dialog.exiting {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.dialog.entering,
.dialog.entered {
  opacity: 1;
  pointer-events: all;
}

.sheet {
  position: absolute;
  background: white;
  margin: 0;
  width: widthBase;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  min-height: calc(50vh);
  max-height: calc(100vh - 1.2rem);
  top: 100vh;
  transition: transform 0.25s ease-out;
}

.dragHandle {
  height: 2.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 1.2rem 0 0.6rem 0;
  border: none;
  margin: 0;
  outline-offset: -0.3rem;
}
.dragHandle:not(.keyboard) {
  outline: none;
}
.dragHandle::after,
.dragHandle::before {
  content: '';
  height: 0.2rem;
  width: 3rem;
  border-radius: 0.1rem;
  background-color: rgba(53, 102, 158, 0.1);
}
.content {
  min-height: calc(50vh - 2.4rem);
  max-height: calc(100vh - 1.2rem - 2.4rem);
  overflow: scroll;
}

@supports (-webkit-overflow-scrolling: touch) {
  /* CSS specific to iOS devices */
  /* .sheet {
    margin-top: 2.6rem;
    max-height: calc(100vh - 3.2rem);
  }
  .content {
    overflow: scroll;
    max-height: calc(100vh - 1.2rem - 6rem - 2rem);
  } */
}
