.group {
  display: inline-flex;
  flex-direction: column;
}
.group > * + * {
  margin-top: var(--space-sm);
}
.radio {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid var(--neutral-on-background-color);
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.radio.focus {
  outline: 1px dotted #212121;
  outline: 5px auto -webkit-focus-ring-color;
}
.colorNeutral .radio.checked {
  border-color: var(--neutral-on-background-color);
}
.colorDefault .radio.checked {
  border-color: var(--default-color);
}
.colorPrimary .radio.checked {
  border-color: var(--primary-color);
}
.colorSecondary .radio.checked {
  border-color: var(--secondary-color);
}
.radio .input {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0;
  border: none;
  margin: 0;
  padding: 0;
}
.innerCircle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: transparent;
  transition: background-color 0.2s linear;
}
.colorNeutral .radio.checked .innerCircle {
  background-color: var(--neutral-on-background-color);
}
.colorDefault .radio.checked .innerCircle {
  background-color: var(--default-color);
}
.colorPrimary .radio.checked .innerCircle {
  background-color: var(--primary-color);
}
.colorSecondary .radio.checked .innerCircle {
  background-color: var(--secondary-color);
}
