.primary,
.neutral {
  --link-font-size: var(--font-size-p);
  --link-line-height: var(--line-height-p);
  font-size: var(--link-font-size);
  line-height: var(--link-line-height);
  text-decoration: none;
  letter-spacing: 0.057em;
}
.neutral {
  color: var(--neutral-on-background-color);
}
.primary {
  color: var(--primary-on-background-color);
}
.primary:hover,
.neutral:hover {
  text-decoration: underline;
}

.small {
  --link-font-size: var(--font-size-p-small);
  --link-line-height: var(--line-height-p-small);
}
.large {
  --link-font-size: var(--font-size-p-lead);
  --link-line-height: var(--line-height-p-lead);
}
