.h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  font-weight: 300;
}
.h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  font-weight: 300;
}
.h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  font-weight: 300;
}
.h4 {
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
  font-weight: 300;
}
.h5 {
  font-size: var(--font-size-h5);
  line-height: var(--line-height-h5);
  font-weight: 300;
}
.h6 {
  font-size: var(--font-size-h6);
  line-height: var(--line-height-h6);
  font-weight: 300;
}
.lead {
  font-size: var(--font-size-p-lead);
  line-height: var(--line-height-p-lead);
  font-weight: 300;
}
.small {
  font-size: var(--font-size-p-small);
  line-height: var(--line-height-p-small);
  font-weight: 300;
}
.p {
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
  font-weight: 300;
}
.inherit {
  font-size: inherit;
  line-height: inherit;
}

.bold {
  font-weight: 700;
}
.medium {
  font-weight: 500;
}
.regular {
  font-weight: 400;
}
.light {
  font-weight: 300;
}
.thin {
  font-weight: 100;
}
.tabular {
  font-variant-numeric: tabular-nums;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.justify {
  text-align: justify;
}
/*        fs          lh          ratio
.h1       28px  1.75  32px  2     1.14
.h2       26px  1.625 32px  2     1.23
.h3       24px  1.5   32px  2     1.33
.h4       22px  1.375 32px  1.5   1.1
.h5       20px  1.25  24px  1.5   1.2
.h6       18px  1.125 24px  1.5   1.333
.p.lead   16px  1     24px  1.5   1.5
.p        14px  .875  24px  1.5   1.7
.p.small  12px  .75   24px  1.5   2
*/
